<section class="modal-context container">

  <div class="jumbotron" dir="">
    <div class="container">
      <h1 style="font-weight: lighter;" class="text-center">A.S.O.P.H.I.E</h1>
      <p class="text-center">Simple, Operational, Powerful, hierarchical, Intelligence and Elegance Accounting System</p>
    </div>
  </div>
  <div style="margin-bottom: 2em;">
    <div class="col-md-6">
      <div class="container-fluid">
        <section class="container">
          <div class="container-page">
            <div class="col-md-6">
              <h3 class="dark-grey">Login</h3>

              <div class="form-group col-md-12">
                <label>Username</label>
                <input type="text" [(ngModel)]="username" name="" class="form-control" id="" value="">
              </div>

              <div class="form-group col-lg-12">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="" class="form-control" id="" value="">
                <br>
                <button (click)="login()" class="btn btn-primary">Login</button>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="dark-grey">Terms and Conditions</h3>
              <p>
                By clicking on "Register" you agree to The Company's' Terms and Conditions
              </p>
              <p>
                While rare, prices are subject to change based on exchange rate fluctuations - should such a fluctuation happen, we may request
                an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
              </p>
              <p>
                Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
              </p>
              <p>
                Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
              </p>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <flash-messages></flash-messages>
  </div>
</section>
