@import "../../assets/_vars.scss";
.actionMenu {
  background: $mainActionMenuColor;
  color: $mainActionMenuFontColor;
  padding:10px 0px;
  
}
.mainMenu{
    background: $mainMenuColor;
}
.workspace{
  padding: 0px ;
}