<div class="wrapper">
  <div class="box workspace">
    <app-workspace></app-workspace>
  </div>
  <div class="box mainMenu">
    <mainMenu></mainMenu>
  </div>
  <div class="box actionMenu">
    <actionMenu></actionMenu>
  </div>
</div>
