
<div class="navbar">
  
  <ul style="direction: rtl;float: right;padding-right: 0px;" class="nav navbar-nav">
    <li *ngFor="let module of moduleList" >
      <a href="#">{{ module.title }}</a>
    </li>
  </ul>
</div>
