<div class="error text-center">

  <img src="assets/darkOwl.png" style="margin: 0 auto;" class="img-responsive" alt="Image">

  <div class="error-code m-b-10 m-t-20">404
    <i class="fa fa-warning"></i>
  </div>
  <h3 class="font-bold">We couldn't find the page..</h3>

  <div class="error-desc">
    Sorry, but the page you are looking for was either not found or does not exist.
    <br/> Try refreshing the page or click the button below to go back to the {{ directionTitle }} page.
    <div>
      <button class=" login-detail-panel-button btn" (click)="changeDirection()">
        <i class="fa fa-arrow-left"></i>
        Go back to {{ directionTitle }}
      </button>
    </div>
  </div>
</div>
