@import "../../assets/_vars.scss";
.error {
    padding-top: 5em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .error-code {
    bottom: 60%;
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
  }
  
  .error-desc {
    font-size: 12px;
    color: #647788;
  }
  
  .m-b-10 {
    margin-bottom: 10px!important;
  }
  
  .m-b-20 {
    margin-bottom: 20px!important;
  }
  
  .m-t-20 {
    margin-top: 20px!important;
  }
  