@import "../../assets/_vars.scss";
.col-md-12 {
    padding: 0px;
    margin-bottom: 2em;
    text-align: center;
}

.activeLink {
    // margin: 0px auto 2em auto;
    background: $mainActionMenuActiveColor;

}

.actionItem {
    text-align: center;
    img {
        width: 32px;
        padding: 5px;
      }
          &:hover {
              @extend .activeLink;
          }
}

.bottomSection {
    position: absolute;
    bottom: 0;
    width: 100%;
}
