<a routerLink="/dashboard/" class="col-md-12">
  <img src="assets/logo.png" style="width: 75%;" class="" alt="aSophie">
</a>
<a style="cursor: pointer" (click)="add()"  class="col-md-12 actionItem text-center">
  <img src="assets/add.png" class="" alt="aSophie">
</a>
<a class="col-md-12 actionItem text-center">
  <img src="assets/search.png" class="" alt="aSophie">
</a>
<a class="col-md-12 actionItem text-center">
  <img src="assets/edit.png" class="" alt="aSophie">
</a>
<a class="col-md-12 actionItem text-center">
  <img src="assets/delete.png" class="" alt="aSophie">
</a>
<!-- <a class="col-md-12 actionItem text-center ">
  <img src="assets/check.png" class="" alt="aSophie">
</a>
<a   class="col-md-12 actionItem text-center">
  <img src="assets/remove.png" class="" alt="aSophie">
</a> -->
<div class="bottomSection">
  <a routerLink="/dashboard/info" routerLinkActive="activeLink"  class="col-md-12 actionItem text-center">
    <img src="assets/info.png" class="" alt="aSophie">
  </a>
  <a routerLink="/dashboard/usersManager" routerLinkActive="activeLink"  class="col-md-12 actionItem text-center">
    <img src="assets/user.png" class="" alt="aSophie">
  </a>
  <a routerLink="/dashboard/settings" routerLinkActive="activeLink" class="col-md-12 actionItem text-center">
    <img src="assets/settings.png" class="" alt="aSophie">
  </a>
</div>
