@import '../../assets/_vars.scss';
.mainTitle {
  margin-top: 0px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}

.mainModules {
  list-style: none;
  direction: rtl;
  padding-right: 0px;
  li {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    &:hover {
      background-color: $mainActionMenuActiveColor;
      color: $mainActionMenuFontColor;
      a{
        color: white;
      }
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $mainActionMenuFontColor;
        text-decoration: none;
      }
    }
  }
}
