<h3 class="mainTitle">A.S.O.P.H.I.E</h3>
<ul class="mainModules">
    <li  *ngFor="let module of mainModules">
     <a routerLink="/dashboard/{{ module.link }}"  routerLinkActive="activeLink">{{ module.title }}</a>
    </li>
  </ul>
