/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 240px 64px;
  grid-template-rows: 100%;
  background-color: #fff;
  color: #444;
  height:100%;
}

.box {
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}
